* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    background-color: #ecf3f6;
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.aaa{
    height: 300px;
    background-color: rgb(157, 190, 169);
}